.highlight-me-wrapper {
    .highlight {
        cursor: pointer;
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        margin-left: 0.07rem;
        margin-right: 0.07rem;
    }

    .highlight-yellow {
        background: #fff700;
    }

    .highlight-green {
        background: #3fff00;
    }
}
