.highlight-me-wrapper {
    .highlight {
        cursor: pointer;
    }

    .highlight-yellow {
        background: #fff700;
        padding: 0.1rem;
    }

    .highlight-green {
        background: #3fff00;
        padding: 0.1rem;
    }
}
